<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<!-- <% include("./links.ejs") %> -->
<!-- <link href="/output.css" rel="stylesheet"> -->
<script src="https://cdn.tailwindcss.com"></script>
<body>

    <!-- loginStatus -->

    <div class="main h-auto flex justify-center items-center w-[100%] bg-red gap-4 ">
        
    
    <h1 class="z-10 absolute top-0 px-6  text-2xl font-bold py-1 bg-zinc-200 text-black border rounded-md" ><%= msg    %></h1>

        <div class="h-screen w-1/3 flex justify-center items-center  bg-slate-300"> 
            <form action="./index.html" method="post" class=" relative w-3/5 flex justify-center items-start gap-4 flex-col ">
                <div class="title mb-3">
                    <b class="capitalize text-3xl ">welcome to <span class="capitalize text-blue-600 text-4xl ">scratch</span></b>
                    <b class="capitalize text-2xl ">create your account</b>

                </div>
                <input type="text" name="fullname" class=" bg-zinc-100 p-2 border rounded-md outline-none w-full" placeholder="enter fullname" >
                <input type="email"  name="email" class=" bg-zinc-100 p-2 border rounded-md outline-none w-full" placeholder="enter email" >
                <input type="password" name="password" class="bg-zinc-100 p-2 border rounded-md outline-none w-full" placeholder="create password">
                <input type="submit" value="submit" class="text-sm bg-black rounded-md text-zinc-50 px-6 py-2">
            </form>
        </div>

        <span class="bg-blue-700  text-white p-2 px-3 border rounded-full ms-10">or</span>

        <div class="h-screen w-1/3 flex justify-center items-center flex-col "> 
            <form action="./index.html" method="post" class=" relative w-3/5 flex justify-center items-start gap-4 flex-col">
                <div class="title">
                    <b class="capitalize text-2xl ">login your account</b>
                </div>
                <input type="email" name="email" class=" bg-zinc-200 p-2 border rounded-md outline-none w-full" placeholder="enter email" >
                <input type="password" name="password" class="bg-zinc-200 p-2 border rounded-md outline-none w-full" placeholder="enter password">
                <input type="submit" value="submit" class="text-sm bg-black rounded-md text-zinc-50 px-6 py-2">
                <span >
                    <a href="./adminLogin.html" style="color: blue;">Login </a> as admin
                </span>
            </form>
             </div>
      
    </div>
</body>
</html>